* {
    margin: 0;
    padding: 0;
}

body {
    background: whitesmoke;
    display: flex;
    justify-content: center;
}

.wrapper {
    background: white;
    max-width: 650px;
    margin: 20px;
    padding: 15px;
    border: 1px solid gray;
    line-height: 20px;
}

.section-1 {
    color: green;
    font-size: 14px;
    margin: 10px;
    padding: 5px;
}

.section-2 {
    color: red;
    font-size: 14px;
    margin: 10px;
    padding: 5px;
}

.section-3 {
    color: blue;
    font-size: 14px;
    margin: 10px;
    padding: 5px;
}